<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.display_name %>!</h1>
    <p>
      The round that will take place in <%= @round.arena.name %> at <%= @round.date %>
      is now confirmed!<br/>
    </p>
    <p>
      Enjoy it and have fun!
    </p>
  </body>
</html>