/* Color palette */
/* Color palette */
/* line 6, ../../../app/stylesheets/pages/index.scss */
#logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  line-height: 130px;
}
/* line 147, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo {
  overflow-x: hidden;
}
/* line 10, ../../../app/stylesheets/pages/index.scss */
#logo img {
  vertical-align: middle;
}

/* line 15, ../../../app/stylesheets/pages/index.scss */
body > header {
  background-color: #33005f;
  height: 130px;
  text-align: center;
}
/* line 20, ../../../app/stylesheets/pages/index.scss */
body > header h1 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  font-weight: bold;
  line-height: 130px;
  font-size: 30px;
  color: white;
}
/* line 147, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body > header h1 {
  overflow-x: hidden;
}
/* line 27, ../../../app/stylesheets/pages/index.scss */
body > header h1 em {
  font-style: normal;
  color: #ffd300;
}

/* line 34, ../../../app/stylesheets/pages/index.scss */
#content {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d8acff));
  background-image: -webkit-linear-gradient(#ffffff, #d8acff);
  background-image: -moz-linear-gradient(#ffffff, #d8acff);
  background-image: -o-linear-gradient(#ffffff, #d8acff);
  background-image: -ms-linear-gradient(#ffffff, #d8acff);
  background-image: linear-gradient(#ffffff, #d8acff);
}

/* line 38, ../../../app/stylesheets/pages/index.scss */
#signin {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 147, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #signin {
  overflow-x: hidden;
}
/* line 43, ../../../app/stylesheets/pages/index.scss */
#signin form label {
  font-weight: bold;
}
/* line 47, ../../../app/stylesheets/pages/index.scss */
#signin form input {
  font-size: 16px;
  display: block;
  padding: 10px;
  margin: 20px auto;
}
/* line 53, ../../../app/stylesheets/pages/index.scss */
#signin form input[type=submit] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px 0 #cca900;
  -webkit-box-shadow: 0 0 5px 0 #cca900;
  -o-box-shadow: 0 0 5px 0 #cca900;
  box-shadow: 0 0 5px 0 #cca900;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff6cc), color-stop(100%, #ffd300));
  background-image: -webkit-linear-gradient(#fff6cc, #ffd300);
  background-image: -moz-linear-gradient(#fff6cc, #ffd300);
  background-image: -o-linear-gradient(#fff6cc, #ffd300);
  background-image: -ms-linear-gradient(#fff6cc, #ffd300);
  background-image: linear-gradient(#fff6cc, #ffd300);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 5px;
  font-size: 18px;
  color: black;
  border: 1px solid #e6be00;
  cursor: pointer;
  width: 190px;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#signin form input[type=submit] {
  *display: inline;
}
/* line 26, ../../../app/stylesheets/_buttons.scss */
#signin form input[type=submit]:hover {
  -moz-box-shadow: inset 0 0 5px 0 #cca900;
  -webkit-box-shadow: inset 0 0 5px 0 #cca900;
  -o-box-shadow: inset 0 0 5px 0 #cca900;
  box-shadow: inset 0 0 5px 0 #cca900;
}
/* line 30, ../../../app/stylesheets/_buttons.scss */
#signin form input[type=submit][disabled] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #cccccc);
  background-image: linear-gradient(#ffffff, #cccccc);
  -moz-box-shadow: 0 0 5px 0 #b3b3b3;
  -webkit-box-shadow: 0 0 5px 0 #b3b3b3;
  -o-box-shadow: 0 0 5px 0 #b3b3b3;
  box-shadow: 0 0 5px 0 #b3b3b3;
  border: 1px solid #bfbfbf;
  cursor: default;
  color: black;
}
/* line 38, ../../../app/stylesheets/_buttons.scss */
#signin form input[type=submit][disabled]:hover {
  -moz-box-shadow: 0 0 0 #cca900;
  -webkit-box-shadow: 0 0 0 #cca900;
  -o-box-shadow: 0 0 0 #cca900;
  box-shadow: 0 0 0 #cca900;
}

/* line 61, ../../../app/stylesheets/pages/index.scss */
#description {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #description {
  overflow-x: hidden;
}
/* line 64, ../../../app/stylesheets/pages/index.scss */
#description h1 {
  font-size: 2.813em;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  font-weight: bold;
}
/* line 70, ../../../app/stylesheets/pages/index.scss */
#description a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px 0 #b9037f;
  -webkit-box-shadow: 0 0 5px 0 #b9037f;
  -o-box-shadow: 0 0 5px 0 #b9037f;
  box-shadow: 0 0 5px 0 #b9037f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #febde9), color-stop(100%, #eb04a1));
  background-image: -webkit-linear-gradient(#febde9, #eb04a1);
  background-image: -moz-linear-gradient(#febde9, #eb04a1);
  background-image: -o-linear-gradient(#febde9, #eb04a1);
  background-image: -ms-linear-gradient(#febde9, #eb04a1);
  background-image: linear-gradient(#febde9, #eb04a1);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin: 5px;
  font-size: 18px;
  color: white;
  border: 1px solid #d20490;
  cursor: pointer;
}
/* line 7, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#description a {
  *display: inline;
}
/* line 26, ../../../app/stylesheets/_buttons.scss */
#description a:hover {
  -moz-box-shadow: inset 0 0 5px 0 #b9037f;
  -webkit-box-shadow: inset 0 0 5px 0 #b9037f;
  -o-box-shadow: inset 0 0 5px 0 #b9037f;
  box-shadow: inset 0 0 5px 0 #b9037f;
}
/* line 30, ../../../app/stylesheets/_buttons.scss */
#description a[disabled] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #cccccc);
  background-image: linear-gradient(#ffffff, #cccccc);
  -moz-box-shadow: 0 0 5px 0 #b3b3b3;
  -webkit-box-shadow: 0 0 5px 0 #b3b3b3;
  -o-box-shadow: 0 0 5px 0 #b3b3b3;
  box-shadow: 0 0 5px 0 #b3b3b3;
  border: 1px solid #bfbfbf;
  cursor: default;
  color: black;
}
/* line 38, ../../../app/stylesheets/_buttons.scss */
#description a[disabled]:hover {
  -moz-box-shadow: 0 0 0 #b9037f;
  -webkit-box-shadow: 0 0 0 #b9037f;
  -o-box-shadow: 0 0 0 #b9037f;
  box-shadow: 0 0 0 #b9037f;
}

/* line 75, ../../../app/stylesheets/pages/index.scss */
#signin, #description {
  height: 500px;
  display: table;
  text-align: center;
}
