<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'rounds/index' %>
<% end %>

<section class="results">
  <header>
    <h1>Rounds</h1>
    
    <div>
      <%= link_to(t('views.rounds.index.new'), new_round_path) %>
    </div>
  </header>

  <% if @rounds.empty? %>
    <p class="empty-list-message"><%= t('views.rounds.index.empty') %></p>
  <% else %>
    <ul>
      <% @rounds.each do |round| %>
        <li><%= render round %></li>
      <% end %>
    </ul>
  <% end %>
</section>