* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }

ul {
  list-style: none; }

#header {
  background-color: #33005f;
  color: #ffffff; }

.container {
  margin: 0 auto; }

#content {
  background-color: #ffffff; }

#footer {
  color: #666;
  background-image: url("/images/footer-background.png");
  height: 300px;
  text-align: center; }
  #footer p {
    line-height: 150px;
    font-weight: bold; }

.left-column {
  float: left; }

.right-column {
  float: right; }

#content {
  background-image: url("/images/content-background.png");
  background-repeat: repeat-x;
  height: 500px;
  text-align: center; }
  #content .left-column {
    margin-top: 90px;
    width: 400px;
    height: 410px; }
  #content .right-column {
    margin-top: 50px;
    width: 400px;
    height: 450px;
    font-size: 18pt;
    line-height: 80px; }

#header {
  height: 100px;
  padding: 30px; }
  #header .left-column {
    height: 90px;
    padding-top: 10px; }
  #header h2 {
    line-height: 100px;
    font-size: 28pt; }
  #header em {
    font-style: normal;
    color: #ffd300; }

.container {
  width: 900px; }

.button {
  background-repeat: no-repeat;
  font-weight: bold;
  text-decoration: none;
  display: block; }

#signup-button {
  width: 186px;
  height: 60px;
  margin: 20px auto;
  background-image: url("/images/signup-button.png");
  font-size: 15pt;
  line-height: 60px;
  color: #000000; }
  #signup-button:hover {
    background-position: 0 -60px; }

#rounds-button {
  width: 361px;
  height: 78px;
  margin: 30px auto;
  background-image: url("/images/rounds-button.png");
  font-size: 17pt;
  line-height: 78px;
  color: #ffffff; }
  #rounds-button:hover {
    background-position: 0 -78px; }

#password-field {
  display: none; }

input {
  font-size: 14pt;
  padding: 8px;
  margin: 20px;
  width: 300px; }

label {
  font-size: 18pt;
  margin: 20px;
  display: block;
  font-weight: bold;
  box-shadow: none; }

input.placeholder {
  color: #ccc; }

.field_with_errors input {
  border: 3px solid red; }
