* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }

ul {
  list-style: none; }

#header {
  background-color: #33005f;
  color: #ffffff; }

.container {
  margin: 0 auto; }

#content {
  background-color: #ffffff; }

#footer {
  color: #666;
  background-image: -moz-linear-gradient(top, #444444, black);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, black));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='black');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='black')";
  height: 300px;
  text-align: center; }
  #footer p {
    line-height: 150px;
    font-weight: bold; }

.left-column {
  float: left; }

.right-column {
  float: right; }

.clear {
  clear: both; }

body {
  font-size: small; }

#flash {
  background-color: #b9037f;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15pt; }

#content {
  min-height: 400px;
  padding: 50px; }
  #content p {
    padding: 20px 0; }
  #content h1 {
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    font-size: 22pt; }
  #content #title {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd; }
  #content #title input {
    font-size: 16pt;
    display: inline;
    height: 30px;
    margin-right: 10px;
    width: 200px; }
  #content #title label {
    display: inline;
    font-size: 22pt;
    line-height: 30px;
    margin-right: 10px;
    padding: 8px; }
  #content #title input[type=submit] {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    border: 1px solid #250046;
    cursor: pointer;
    height: auto;
    width: auto;
    background-image: -moz-linear-gradient(top, #9d2cff, #33005f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9d2cff), color-stop(1, #33005f));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9d2cff', EndColorStr='#33005f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9d2cff', EndColorStr='#33005f')";
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 5px 0 #18002c;
    -webkit-box-shadow: 0 0 5px 0 #18002c;
    box-shadow: 0 0 5px 0 #18002c;
    line-height: auto;
    color: white;
    display: inline; }
    #content #title input[type=submit]:hover {
      -moz-box-shadow: inset 0 0 5px 0 #18002c;
      -webkit-box-shadow: inset 0 0 5px 0 #18002c;
      box-shadow: inner 0 0 5px 0 #18002c; }

#session {
  color: #ffffff;
  padding: 10px;
  background-color: #230040;
  text-align: right; }
  #session a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px; }
  #session a:hover {
    color: #ffd300; }

#title {
  position: relative; }

#title a {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
  border: 1px solid #e6be00;
  cursor: pointer;
  height: 50px;
  width: 190px;
  background-image: -moz-linear-gradient(top, #fff6cc, #ffd300);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff6cc), color-stop(1, #ffd300));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff6cc', EndColorStr='#ffd300');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff6cc', EndColorStr='#ffd300')";
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 5px 0 #cca900;
  -webkit-box-shadow: 0 0 5px 0 #cca900;
  box-shadow: 0 0 5px 0 #cca900;
  line-height: 50px;
  color: black;
  position: absolute;
  font-size: 14pt;
  right: 0;
  top: 0; }
  #title a:hover {
    -moz-box-shadow: inset 0 0 5px 0 #cca900;
    -webkit-box-shadow: inset 0 0 5px 0 #cca900;
    box-shadow: inner 0 0 5px 0 #cca900; }

#header a {
  color: white;
  font-weight: bold;
  text-decoration: none; }

#header a:hover {
  color: #ffd300; }

#header {
  height: 50px;
  padding: 10px;
  line-height: 50px;
  font-size: 13pt; }
  #header li {
    margin: 10px;
    display: inline; }
  #header .left-column {
    padding-top: 10px; }
  #header em {
    font-style: normal;
    color: #ffd300; }

.container {
  margin: 0 auto;
  width: 900px; }

#session-help li {
  display: inline;
  margin-right: 15px;
  line-height: 30px; }
#session-help ul {
  margin-top: 20px;
  font-size: 13pt; }

.text_field input, .password_field input {
  font-size: 12pt;
  padding: 8px;
  margin-bottom: 15px;
  width: 300px; }

.submit_field {
  margin-top: 10px;
  display: block; }
  .submit_field input {
    font-size: 15pt; }

label {
  font-size: 12pt;
  margin-bottom: 15px;
  display: block;
  font-weight: bold;
  box-shadow: none; }

input.placeholder {
  color: #cccccc; }

.field_with_errors input {
  border: 3px solid red; }

.round {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc; }
  .round h3 {
    margin: 5px 0;
    font-weight: normal;
    color: #555; }
  .round .game a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    height: auto;
    width: 120px;
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, white));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='white');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='white')";
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 5px 0 #e6e6e6;
    -webkit-box-shadow: 0 0 5px 0 #e6e6e6;
    box-shadow: 0 0 5px 0 #e6e6e6;
    line-height: auto;
    color: black;
    -moz-box-shadow: 0 0 5px 0 #999999;
    -webkit-box-shadow: 0 0 5px 0 #999999;
    box-shadow: 0 0 5px 0 #999999;
    min-height: 60px;
    margin-left: 10px;
    font-size: 13pt;
    padding: 10px; }
    .round .game a:hover {
      -moz-box-shadow: inset 0 0 5px 0 #e6e6e6;
      -webkit-box-shadow: inset 0 0 5px 0 #e6e6e6;
      box-shadow: inner 0 0 5px 0 #e6e6e6; }
    .round .game a:hover {
      -moz-box-shadow: inset 0 0 5px 0 #999999;
      -webkit-box-shadow: inset 0 0 5px 0 #999999;
      box-shadow: inner 0 0 5px 0 #999999; }
  .round .date {
    text-align: center;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px; }
    .round .date .month {
      padding: 2px;
      font-weight: bold;
      background-color: #eb04a1;
      opacity: 0.7;
      color: white;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
    .round .date .day {
      font-size: 20pt; }
  .round .deadline .month {
    background-color: green; }
  .round .subscribers {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 500px; }
    .round .subscribers .details a {
      text-decoration: none;
      font-weight: bold;
      color: #6a00c5; }
    .round .subscribers .details a:hover {
      color: #eb04a1; }
    .round .subscribers .details .arena {
      font-weight: normal;
      font-size: 14pt; }
    .round .subscribers .details .game {
      font-weight: normal;
      font-size: 14pt; }
      .round .subscribers .details .game a {
        color: black; }
    .round .subscribers ul {
      margin-top: 10px; }
    .round .subscribers li {
      float: left;
      margin: 1px;
      width: 35px;
      height: 35px;
      border: 1px dotted #999; }
      .round .subscribers li .remaining-spot {
        width: 100%;
        height: 100%;
        background-color: #ffffff; }
      .round .subscribers li .min {
        background-color: #eee; }
  .round .actions {
    text-align: center;
    width: 140px; }
    .round .actions a {
      margin: 0 auto;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      display: block;
      border: 1px solid #d20490;
      cursor: pointer;
      height: 35px;
      width: 120px;
      background-image: -moz-linear-gradient(top, #febde9, #eb04a1);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #febde9), color-stop(1, #eb04a1));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#febde9', EndColorStr='#eb04a1');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#febde9', EndColorStr='#eb04a1')";
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-box-shadow: 0 0 5px 0 #b9037f;
      -webkit-box-shadow: 0 0 5px 0 #b9037f;
      box-shadow: 0 0 5px 0 #b9037f;
      line-height: 35px;
      color: white;
      font-size: 12pt;
      margin-bottom: 8px; }
      .round .actions a:hover {
        -moz-box-shadow: inset 0 0 5px 0 #b9037f;
        -webkit-box-shadow: inset 0 0 5px 0 #b9037f;
        box-shadow: inner 0 0 5px 0 #b9037f; }
    .round .actions .time {
      margin-top: 10px;
      color: #888; }
    .round .actions .spots {
      color: #000;
      font-size: 14pt;
      margin-top: 15px; }
