<h1>Users</h1>

<div id="users">
<ul>
  <% @users.each do |user| %>
    <li>
      <a href="<%= user_path(user) %>">
      <div class="user-avatar"><%= image_tag user.avatar.url(:thumb), :width => '100', :height => '100' %></div>
      <div class="user-details"><%= user.display_name %></div>
      </a>
    </li>
  <% end%>
</ul>
</div>

<div class="clear"></div>