<div id="title">
  <h1>Arenas</h1>
  <%= link_to('Create a new arena!', new_arena_path) %>
</div>

<ul id="arenas">
<% @arenas.each do |arena| %>
<li>
  <a href="<%= arena_path(arena) %>">
    <div class="image"><%= image_tag arena.image.url(:thumb) %></div>
    <div class="arena-details">
      <%= arena.name %>
    </div>
  </a>
</li>
<% end%>
</ul>