<div id="title">
  <h1>Arenas</h1>
  <%= link_to('Create a new arena!', new_arena_path) %>
</div>

<ul id="arenas">
<% @arenas.each do |arena| %>
<li>
  <a href="<%= arena_path(arena) %>">
    <div class="arena-image"><%= image_tag arena.image.url(:thumb), :width => '100', :height => '100' %></div>
    <div class="arena-details"><%= arena.name %></div>
  </a>
</li>
<% end%>
</ul>