<p>
  <b>Name:</b>
  <%= @arena.name %>
</p>

<p>
  <b>Description:</b>
  <%= @arena.description %>
</p>

<% if can? :update, @arena %>
  <%= link_to 'Edit', edit_arena_path(@arena) %> |
<% end %>
<%= link_to 'Back', arenas_path %>
