<div id="title">
    <h1>Games</h1>

  <%= link_to('Create a new game!', new_game_path) %>
</div>

<ul id="games">
<% @games.each do |game| %>
<li>
  <a href="<%= game_path(game) %>">
    <div class="game-image"><%= image_tag game.image.url(:thumb), :width => '100', :height => '100' %></div>
    <div class="game-details"><%= game.name %></div>
  </a>
</li>
<% end%>
</ul>