<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>


<% if can? :update, @game %>
  <%= link_to 'Edit', edit_game_path(@game) %> |
<% end %>
<%= link_to 'Back', games_path %>
