<div id="game">
  <h1>
    <%= @game.name %> <% if can? :update, @game %>
      | <%= link_to t('views.buttons.edit'), edit_game_path(@game) %>
    <% end %>
  </h1>

  <div class="left-column">
    <%= image_tag @game.image.url(:medium) %>
  </div>

  <p>
    <%= @game.description %>
  </p>
</div>