<div id="game">
  <h1>
    <%= @game.name %> <% if can? :update, @game %>
      | <%= link_to 'Edit', edit_game_path(@game) %>
    <% end %>
  </h1>

  <div class="left-column">
    <div class="boxed-item" style="min-height: 300px">
      <p><%= @game.description %></p>
    </div>
  </div>

  <div class="right-column">
    <div class="boxed-item" style="min-width: 300px">
      <%= image_tag @game.image.url(:medium) %>
    </div>
  </div>
  
  <div class="clear"></div>
</div>