@import 'partials/base';
@import 'buttons';

section.results > ul > li {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  
  &:last-child {
    border-bottom: 0;
  }
}

article.round {
  @include clearfix;
  
  .date {
    @include column($blueprint-grid-columns * (2 / 16));

    text-align: center;
    
    & > div {
      @include border-radius;
      padding: 5px;
      border: 1px solid #ccc;
      
      .month {
        @include border-radius;
    
        font-weight: bold;
        background-color: $base-fucsia;
        color: white;
        padding: 2px 5px;
      }

      .day {
        font-size: 25px;
      }
    }
  }
  
  .game {
    @include column($blueprint-grid-columns * (3 / 16));

    text-align: center;
    
    a {
      @include border-radius;
      @include fixed-button(90%, 70px, white, black);
    }
  }
  
  .subscribers {
    @include column($blueprint-grid-columns * (9 / 16));
    
    .remaining-spot {
      $size: 35px;
      
      @include inline-block;
      width: $size;
      height: $size;
      border: 1px dotted #ccc;
    }
  }
  
  .actions {
    text-align: right;
    @include column($blueprint-grid-columns * (2 / 16), true);
    
    a {
      margin: 5px;
      @include button($base-fucsia, white);
    }
  }
}
