$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

@import 'blueprint';
@import 'compass';

/* Color palette */

$base-purple: #33005f;
$base-orange: #ffd300;
$base-fucsia: #eb04a1;