@import "application";

$content-width: 900px; 
$content-height: 500px;

#content {
  @include linear-gradient(#ffffff, lighten($main-purple, 65%));
  height: $content-height;
  text-align: center;
  
  $column-width: $content-width/2 - 50px;
  
  .left-column {
    $margin-top: 90px;
    
    margin-top: $margin-top;
    width: $column-width;
    height: $content-height - $margin-top;
  }
  
  .right-column {
    $margin-top: 50px;
    margin-top: $margin-top;
    width: $column-width;

    height: $content-height - $margin-top;
    font-size: 18pt;
    line-height: 80px;
  }
}

#header {
  $height: 100px;
  $padding-top: 10px;
  
  height: $height;
  padding: 30px;
  
  .left-column {
    height: $height - $padding-top;
    padding-top: 10px;
  }
  
  h2 {
    line-height: $height;
    font-size: 28pt;
  }
  
  em {
    font-style: normal; 
    color: $main-orange;
  }
}

.container {
  width: $content-width;
}

#signup-button {
  @include button(186px, 60px, $main-orange, #000000);
  margin: 20px auto;
  font-size: 15pt;
}

#rounds-button {
  @include button(361px, 78px, $main-fucsia, #ffffff);
  margin: 30px auto;
  font-size: 17pt;
}

input[type=text], input[type=password] {
  font-size: 14pt;
  padding: 8px;
  margin: 20px;
  width: 300px;
}

label {
  font-size: 18pt;
  font-weight: bold;
}

input.placeholder {
  color: #ccc;
}

.field_with_errors input {
  border: 3px solid red;
}
